# Cmake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Executable
bubblescope

# Config files
*.conf

# Media files
*.mp4
*.avi
*.mkv
*.jpg

# Generated documentation
docs/
